---
import {
	getGroupedSchemaVersions,
	listSchemaFiles,
} from "@forge/helpers/files";

const monorepoRoot = new URL("../../../../", import.meta.url);
const schemaFiles = listSchemaFiles(monorepoRoot);
---

<div>
{
	getGroupedSchemaVersions(schemaFiles).map((major) => (
		<section>
			<h2>Version {major.version}</h2>
			<ul>
				{major.schemas
					.map((minor) => (
						<li>
							<h3>{minor.version}</h3>
							<ul>
								{minor.schemas
									.map((patch) => (
										<li>
											<h5>{patch.version}</h5>
											<ul>
												{patch.schemas
													.map((schema) => (
													<li>
														<a
															href={`/schema/${schema.version}/${schema.model}.${schema.extension}`}

														>
															<b>{schema.model}</b><span style="opacity: 0.8;">.{schema.extension}</span>
														</a>
													</li>

												))}
											</ul>



										</li>
									))}
							</ul>
						</li>
					))}
			</ul>
		</section>
	))
}
</div>