---
import { getGroupedSchemaVersions } from "../schema/group-schemas";
---

<div>
{
	getGroupedSchemaVersions().map((major) => (
		<section>
			<h3>Version {major.version}</h3>
			<ul>
				{major.schemas
					.map((minor) => (
						<li>
							<h4>{minor.version}</h4>
							<ul>
								{minor.schemas
									.map((patch) => (
										<li>
											<h5>{patch.version}</h5>
											<ul>
												{patch.schemas
													.map((schema) => (
													<li>

														<a href={`/schema/${schema.version}/${schema.model}.${schema.extension}`}>
															/schema/<span>{schema.version}</span>/<span>{schema.model}</span>.<span>{schema.extension}</span>
														</a>
													</li>

												))}
											</ul>



										</li>
									))}
							</ul>
						</li>
					))}
			</ul>
		</section>
	))
}
</div>